
@{ 
    ViewBag.Title = "Akış";

}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="display-4">Akış</h4>
            <p>@ViewData["mesaj"]</p>
            <img src="@ViewData["img"]" alt="Post İmg Link" />
        </div>
    </div>
</div>
