@model FacebookClone.ViewModels.PostNewPost

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()

                <div class="form-group">

                    <label>Post İçeriği</label> @Html.TextBoxFor(x => x.post_text, new { @class = "form-control" })
                </div>

                <div class="form-group">

                    <label>Fotoğraf Linki</label> @Html.TextBoxFor(x => x.post_img_link, new { @class = "form-control" })
                </div>
             
                <input type="submit" value="Gönder" class="btn btn-outline-primary" />
            }
        </div>
    </div>
</div>
