<h4 class="display-4">Kayıt Olundu!</h4>
<img src="~/Content/fonts/icons8-checkmark.svg" width="250" height="250"></img>
<br />

    <button class="btn btn-outline-info ml-5"><a href="@Url.RouteUrl("Home")" class="yazi">Ana Sayfaya Dön</a></button>
