<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h4 class="display-4">Kayıt Olundu!</h4>
            <button class="btn btn-outline-info ml-5"><a href="@Url.RouteUrl("Home")" class="yazi">Ana Sayfaya Dön</a></button>
        </div>

        <div class="col-md-6">
            <img src="~/Content/fonts/icons8-checkmark.svg" class="ml-2 mt-2"  width="250" height="250"></img>
        </div>
    </div> 
</div>




 
